@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?94604853');
  src: url('../font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?94604853') format('woff'),
       url('../font/symbols-nerds.ttf?94604853') format('truetype'),
       url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */


body {
	margin: 0;
	min-width: 900px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
}

.header-wrap {
	background: #eeeeee;

}

.header {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 30px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
 }

.logo {
	float: left;
	margin-top: 27px;
}


.navigation {
	float: left;
	margin-left: 180px;
	min-width: 400px;
}

.navigation ul {
  margin: 0;
  padding-top: 49px;;
  padding-bottom: 1px;
  padding-left: 0;
  list-style: none;
}

.navigation li {
  display: inline-block;
  vertical-align: top;
  padding-right: 42px;
}

.navigation li:last-child{
  padding: 0;
  margin: 0;
}

.navigation a {
	display: block;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
  line-height: 40px;
  font-weight: 500;
}

.basket-wrap {
	float: right;
	padding-top: 49px;
	padding-bottom: 1px;
	margin-left: 67px;
}

.basket {
	text-decoration: none;
	font-size: 14px;
  line-height: 40px;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}

.basket i {
	padding-right: 5px;
	opacity: 0.3
}

a:hover {
	color: #fb565a;
}

a:active {
	color: #a6a6a6;
}

.navigation .active a {
	position: relative;
}

.navigation .active a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fb565a;
}

.slider {
	position: relative;
	width: 880px;
	height: 320px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.slider input[type=radio] {
/*    position:absolute;
    opacity:0;*/
}

.slider-controls {
	position: absolute;
	bottom: 107px;
	left: 50%;
	width: 200px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
  background:#c1c1c1;
} 

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #eeeeee;
}

.slide-text {
  width: 470px;
  padding: 30px 0;
  color: #283136;
}

.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.slide .btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;  
}

.slide .btn:hover {
  background: #d6494d;
}

.slide .btn:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.slide:nth-child(1) {
  background-image: url('../img/slider-bg.png');
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url('../img/slider-bg-2.png');
  background-repeat: no-repeat;
  background-position: 100% 10px;
}
.slide:nth-child(3) {
  background-image: url('../img/slider-bg-3.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}   

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}         

.features {
	width: 880px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.features-item:last-child {
margin-right: 0;
}

.features-item h2 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
}

.features-item p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	margin-bottom: 25px;
}

.features-item a {
	display: inline-block;
	padding: 11px 40px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	background: #00ca74;
	border-radius: 3px;
}

.features-item a:hover {
	background: #01a25e;
}

.features-item a:active {
	background: #009053;
	box-shadow: inset 0 3px 0 0 #007b47;
}

.features-item:first-child a {
	background: #fb565a;
}

.features-item:first-child a:hover {
	background: #d6494d;
}

.features-item:first-child a:active {
	background: #b63538;
	box-shadow: inset 0 3px 0 0 #9b2d30;
}


.features-item:last-child a {
	background: #efc84a;
} 

.features-item:last-child a:hover {
	background: #d6ae2c;
}

.features-item:last-child a:active {
	background: #c09b24;
	box-shadow: inset 0 3px 0 0 #a3841f;
}

.line {
	width: 880px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: #eeeeee
}

.studio {
	width: 880px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.studio-top {
	margin-bottom: 15px;
}

.aboutus {
	float: left;
	width: 560px;
}

.aboutus h1 {
	font-size: 36px;
	line-height: 36px;
	color: black;
}

.aboutus p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

.aboutus-logo {
	float: right;
}

.studio-bottom-left {
	float: left;
}

.studio-bottom-right {
	float: right;
}

.studio-bottom-left h2 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
}

.studio-bottom-right h2 {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
}

.studio-bottom ul {
	padding: 0;
  margin: 0;
	list-style: none;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px
}

.studio-bottom li {
	position: relative;
	padding-left: 37px;
}

.studio-bottom li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  border-bottom: 2px solid #fb565a;
}

.sattelites {
	margin: 0 auto;
	width: 880px;
	margin-bottom: 22px;
}

.sattelites-item {
	float: left;
	padding-left: 20px;
  margin-right: 92px;
}

.sattelites-item:last-child {
	margin-right: 0;
}

.sattelites-item img {
    opacity: 0.2;
}

.sattelites-item img:hover {
    opacity: 1;
}

.contacts {
	position: relative;
	height: 416px;
	margin-top: 70px;
	margin-bottom: 40px;
	background: url("../img/map.jpg") no-repeat center;
}

.map {
	margin: 0 13%;
	margin-top: 20px;
}

.footer {
	margin: 0 auto;
	width: 880px;
	margin-bottom: 20px;
}

.social {
	float: left;
}

.social-item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  width: 62px;
  height: 62px;
  background: #e1e1e1;
  border-radius: 50%;
  opacity: 0.8;
}

.social-item:active {
  background: #d6494d;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.social .vk:after {
  content: '';
  position: absolute;
  top: 25px;
  right: 18px;
  width: 26px;
  height: 15px;
  background-position: -42px -52px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social .fb:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 25px;
  width: 12px;
  height: 22px;
  background-position: -10px -10px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social .insta:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 21px;
  height: 21px;
  background-position: -42px -10px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social-item:hover {
  opacity: 1;
  background: #fb565a;
  cursor: pointer;
}

.discount {
	float: right;
}

.discount h2 {
  margin: 0;
  margin-top: 4px;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 5px
}

.discount p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #283136;
}

.contacts-block {
  position: absolute;
  bottom: 75px;
  left: 50%;
  margin-left: -445px;
  padding: 20px;
  padding-top: 21px;
  padding-bottom: 26px;
  width: 240px;
  height: 240px;
  background: #ffffff;
  border-radius: 5px;
}

.contacts-block h3 {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-block span {
  font-weight: 300;
}

.contacts-block p {
  margin-top: 30px;
  font-weight: 300;
  line-height: 20px;
}

.contacts .contacts-block a {
  display: block;
  padding: 10px 20px;
  margin-top: 30px;
  width: 195px;
  background: #fb565a;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}

.contacts a:hover {
  background: #d6494d;
}

.contacts a:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

/*Стили каталога*/
.header-wrap .welcome {
  padding-top: 70px;
  padding-bottom: 90px;
  margin: 0 auto;
  width: 643px;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #000000;
  line-height: 48px;
  text-transform: uppercase;
}

.catalog {
  width: 880px;
  margin: 0 auto;
  margin-top: 60px;
}

.filters {
    float: left;
    width: 240px;
    margin-top: 0;
}

.filters h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.filters h2:first-child {
  margin-top: 0;
}

.price-controls {
  margin-bottom: 25px;
}

.range-filter {
  width:240px;
  margin:20px auto;
}
.range-controls {
  position:relative;
  height:80px;
  margin-bottom:15px;
  padding:0 30px;
  background:#f1f1f1;
  border-radius:5px;
  overflow:hidden;
}
.range-controls .scale {
  margin-top:39px;
  height:2px;
  background:#d7dcde;
}
.range-controls .bar {
  height:2px;
  background:#00ca74;
}
.range-controls .toggle {
  position:absolute;
  top:30px;
  left:30px;
  width:4px;
  height:4px;
  border:8px solid white;
  background:#ababab;
  cursor:pointer;
  border-radius:50%;
  box-shadow:0 2px 1px 0 #cfcfcf;
}
.range-controls .min-toggle {
  left:20px;
}
.range-controls .max-toggle {
  left:165px;
}
.price-controls input {
  width:60px;
  padding:8px 10px;
  margin-left:10px;
  border:none;
  background:#f1f1f1;
  font-size:16px;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  text-align:center;
  color:#283136;
  border-radius:5px;
}
.price-controls .min-price {
  margin-right:14px;
}
.price-controls {
  white-space:nowrap;
} 

.catalog .gallery {
  float: right;
  width: 560px;
}

.gallery-top-menu {
  position: relative;    
}

.gallery-sorting {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-sorting li{
  display: inline-block;
  margin-right: 40px;
  color: #000000;
  line-height: 18px;
  font-size: 13px;
}

.gallery-sorting li span {
  text-transform: uppercase;
  font-weight: bold;
}

.gallery-top-menu .one-arrow {
  content: '';
  position: absolute;
  right: 1px;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 9px 4.5px;
  border-color: transparent transparent #cccccc transparent;
  cursor: pointer;
}

.gallery-top-menu .two-arrow {
  content: '';
  position: absolute;
  right: 19px;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width:  9px 4.5px 0 4.5px;
  border-color: #00ca74 transparent transparent transparent;
  cursor: pointer;
}

.gallery-sorting .sort {
  opacity: 0.4;
}

.gallery-sorting .sort {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px dotted #00ca74;
}


.gallery-sorting .sort:hover {
  opacity: 1;
  border-bottom: 1px solid #00ca74;
}

.gallery-sorting .sort:active {
  opacity: 1;
  border-bottom: none;
}

.gallery-sorting .one-arrow:active {
  border-color: transparent transparent black transparent;
}

.gallery-sorting .two-arrow:hover {
  border-color: #cccccc transparent transparent transparent
}


.gallery-sorting .two-arrow:active {
  border-color: black transparent transparent transparent
}

.gallery-box {
  font-size: 0;
}

.gallery-element {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
}

.gallery-element:nth-child(2n) {
  margin-left: 80px;
}

.gallery-element-header {
  position: relative;
  height: 30px;
  background: #f1f1f1;
  border-radius: 5px 5px 0 0;
}

.gallery-element-header:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 12px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.gallery-element-header:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 44px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.gallery-element:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 28px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 10;
}

.price-layout {
  display: none;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  min-height: 200px;
  text-align: center;
  background: #ffffff;
}

.gallery-element:hover .price-layout {
  display: block;
}

.gallery-element:hover .gallery-element-header {
  background: #797979;
}

.price-layout h3 {
  margin-top: 29px;
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}

.price-layout p {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 180px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #283136;
}

.price-layout-button {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 140px;
  min-height: 38px;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  background: #fb565a;
  border-radius: 5px;
}

.price-layout-button:hover {
  cursor: pointer;
  background: #d6494d;
}

.price-layout-button:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

/*Пагинация*/
.switch {
  padding: 0;
  list-style: none;
}

.switch a {
  display: inline-block;
  margin-right: 10px;
  height: 38px;
  min-width: 38px;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  background: #f1f1f1;
  border-radius: 3px;
}

.switch li:hover a:not(.active) {
  background: #e5e5e5;
}

.switch .active{
  height: 36px;
  min-width: 36px;
  cursor: default;
  background: #ffffff;
  border: 2px solid #f2f2f2;
}

.switch .active:hover {
  background: #ffffff;
  border: 2px solid #f2f2f2;
}


.switch li:active a:not(.active){
  background: #d5d5d5;
  color: #a9a9a9;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.switch .next {
  padding: 0 30px;
  text-transform: uppercase;
}

.switch a:hover {
  background: #e5e5e5;
}

.switch a:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.switch a:first-child:active {
  box-shadow: none;
}

/*Обратная связь*/

.feedback-popup{
    display: none;
    position: absolute;
    bottom: -965px;
    left: 50%;
    width: 460px;
    min-height: 315px;
    padding: 50px 85px;
    margin-left: -315px;
    background: #ffffff;
    text-align: left;
    font-size: 0;
    box-shadow: 0 0 50px 0 #000000;
}

.feedback-popup span{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(30px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.feedback-popup-show {
  display: block;
  animation: bounce 0.9s;
}

.feedback-form .left-column,
.feedback-form .right-column{
    display: inline-block;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea.text-fild{
    margin-top: 10px;
    padding-left: 10px;
    width: 205px;
    height: 33px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea.text-fild:hover{
    border: 2px solid #a2a9ac;
}

.feedback-form textarea.text-fild{
    width: 455px;
    height: 110px;  
}

.feedback-form .left-column{
    margin-right: 18px;
    margin-bottom: 20px;
}

::-moz-placeholder{
    padding-top: 7px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

::-webkit-input-placeholder{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.feedback-form .send,
.feedback-form .cancel{
    display: inline-block;
    margin-top: 50px;
    width: 220px;
    height: 38px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.feedback-form .send{
    margin-right: 20px;
    background: #fb565a;
    color: #ffffff;
    border: none;
}

.feedback-form .send:hover{
    background: #d6494d;
}

.feedback-form .send:active{
    background: #b63538;
    box-shadow: inset 0 3px 0 0 #9b2d30;
}

.feedback-form .cancel{
    line-height: 38px;
    background: #f1f1f1;
    color: black;
}

.feedback-form .cancel:hover{
    background: #e5e5e5;
}

.feedback-form .cancel:active{
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #b5b5b5;
}